body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    width: 100%;
    padding: 10px; 
    /* to make the full width include the padding */
    box-sizing: border-box; 
    margin-bottom: 5px;
    border-style: 2px solid #5f9341;
}


button{
    padding: 10px 20px;
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

ul{
    margin-top: 25px;
    list-style: none;
    padding-left: 0;
}

li{
    margin-top: 8px;
}

li a{
    color: #5f9341;
}